.icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2.8vh;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    position: absolute;
    bottom: 0;
}

i {
    cursor: pointer;
}
.ver-categorias{
    transition: 0.3s;
    position: absolute;
    top: 0;
    color: #fff;
    background-color: #F5028a;
    width: 70%;
    height: 8%;
    margin: 0 auto;
    text-align: center;
    border-bottom-left-radius: 15% 100%;
    border-bottom-right-radius: 15% 100%;
    border: 0px;
}
.ver-categorias:hover{
  color:black;
  text-decoration: underline;
  cursor: pointer;
}
.article-hover input {
    outline: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    width: 70%;
    border: solid white 2px;
}
.agregar-descripcion{
margin-top: 1vh;
width: 30%;
display: flex;
justify-content: space-between;
}
.paginate {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}
